
<div class="search-box">
<h1>{{ feed.title }}</h1>
  <input name="feed_url" placeholder="http://example.com/?type=xml&limit=5" ng-model="feed_url" class="search-input">
  <input type="button" value="GO" ng-click="submitForm()" class="search-button">
</div>

<ul>
  <li ng-repeat="item in feed.items" ng-if="feed.items" class="result-list">
	<div class="item-box">
		<div class="item-image">
			<img src="{{item.image_url}}">
		</div>
		<div class="item-details">
			<a href="{{item.url}}" target="_blank" class="item-name">{{item.name}}</a>
			<div><b>Price:</b> {{item.price.amount}} {{item.price.currency}}</div>
			<div class="item-desp">{{item.description.substr(0, 500)}}</div>
			<div><b>Category:</b> {{item.categories[0]}}</div>
		</div>
	</div>
  </li>
  <div>{{ feed.process }}</div>
</ul>
